/webTrobadooMVC/bin/
/webTrobadooMVC/obj/
/TestProject1/bin/
/TestProject1/obj
/TrobadooUtils/bin/
/TrobadooUtils/obj/
/TrobadooWebUpdater/bin/
/TrobadooWebUpdater/obj/
App.config
Web.config
Web.Debug.config
Web.Release.config
