<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es">
<head>
    <title>Formulario de contacto - Trobadoo.com</title>
</head>
<body style="margin: 0 auto; text-align: center;">
    <table cellspacing="0" cellpadding="0" style="width: 100%; margin: 0 auto; background-color: #F7F7F7">
        <tr>
            <td style="padding: 15px 0; text-align: center;">
                <table style="width: 750px;" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="line-height: 5px; background-color: #df2626">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; background-color: #FFF; border-left: 1px solid #CCC;
                            border-right: 1px solid #CCC">
                            <table cellpadding="0" cellspacing="0" style="width: 100%; border-bottom: 1px solid #df2626">
                                <tr style="background-color: #FFF">
                                    <td style="padding: 25px; text-align: center">
                                        <a href="#">
                                            <img dfsrc="http://www.trobadoo.com/Content/images/logo_cabecera.png"></a>
                                    </td>
                                </tr>
                            </table>
                            <table cellpadding="15" cellspacing="0" border="0" style="width: 100%;">
                                <tr>
                                    <td style="vertical-align: top; font-family: Tahoma; font-size: 12px; color: #004664;
                                        line-height: 16px">
                                        <p style="padding: 10px 0; text-align: center; font-size: 18px; color: #004664; font-weight: bold">
                                            Hemos recibido la siguiente información de contacto en la web:
                                        </p>
                                        <p>
                                            <strong>Nombre:&nbsp;</strong><span>##NAME##</span>
                                        </p>
                                        <p>
                                            <strong>Apellidos:&nbsp;</strong><span>##SURNAMES##</span>
                                        </p>
                                        <p>
                                            <strong>Email:&nbsp;</strong><span>##EMAIL##</span>
                                        </p>
                                        <p>
                                            <strong>Tel.:&nbsp;</strong><span>##PHONE##</span>
                                        </p>
                                        <p>
                                            <strong>Movíl:&nbsp;</strong><span>##CELLPHONE##</span>
                                        </p>
                                        <p>
                                            <strong>Dirección:&nbsp;</strong><span>##ADDRESS##</span>
                                        </p>
                                        <p>
                                            <strong>Código Postal:&nbsp;</strong><span>##POSTCODE##</span>
                                        </p>
                                        <p>
                                            <strong>Ciudad:&nbsp;</strong><span>##CITY##</span>
                                        </p>
                                        <p style="margin-bottom: 5px">
                                            <strong>Message:</strong>
                                            <ul style="list-style: none; margin: 0 0 0 12px; padding: 0">
                                                <li><span>##MESSAGE##</span></li>
                                            </ul>
                                        </p>
                                        <!--<hr style="border: 0; border-top: 1px dotted #CCC; margin: 15px 0">-->
                                        <!--<p>Muchas gracias por su colaboraci&oacute;n / Thank you for your collaboration.</p>
									<p>Saludos Cordiales / Regards,<br>El equipo de TravelTino / TravelTino Team</p>-->
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 5px; background-color: #df2626">
                            <img width="5" height="5" alt="" src="http://www.trobadoo.com/Content/images/shim.gif">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
