<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="mode" value="Dev"/>
    <add key="mailServer" value="smtpout.europe.secureserver.net"/>
    <add key="mailServerPort" value="25"/>
    <add key="googleAnalytics" value="UA-36071880-1"/>

    <add key="mailInfoUser" value="info@trobadoo.com"/>
    <add key="mailInfoPassword" value="tr0b@doo"/>
    <add key="mailInfo" value="info@trobadoo.com"/>
    <add key="mailNoReplyUser" value="noreply@trobadoo.com"/>
    <add key="mailNoReplyPassword" value="n0r3ply"/>
    <add key="mailNoreply" value="noreply@trobadoo.com"/>
    <add key="mailSoporte" value="soporte@trobadoo.com"/>
    <add key="to" value="david.artieri@gmail.com"/>
    <add key="mailErrores" value="david.artieri@gmail.com"/>
    <!-- LECTURA-->

    <!--add key="bdServerRead" value="taka"/>
    <add key="bdDatabaseRead" value="webtrobadoo"/>
    <add key="bdUserRead" value="userRead"/>
    <add key="bdPasswordRead" value="trobadoo"/-->

    <add key="bdServerRead" value="taka"/>
    <add key="bdDatabaseRead" value="trobadoo"/>
    <add key="bdUserRead" value="sa"/>
    <add key="bdPasswordRead" value="as"/>
    <!-- ESCRITURA-->

    <add key="bdServerWrite" value="taka"/>
    <add key="bdDatabaseWrite" value="webtrobadoo"/>
    <add key="bdUserWrite" value="userWrite"/>
    <add key="bdPasswordWrite" value="trobadoo"/>

    <!-- LECTURA -->
    <!--add key="bdServerRead" value="webTrobadoo.db.10024928.hostedresource.com"/>
    <add key="bdDatabaseRead" value="webtrobadoo"/>
    <add key="bdUserRead" value="webTrobadoo"/>
    <add key="bdPasswordRead" value="w3bTr0b@doo"/-->
    <!-- ESCRITURA -->
    <!--add key="bdServerWrite" value="webTrobadoo.db.10024928.hostedresource.com"/>
    <add key="bdDatabaseWrite" value="webtrobadoo"/>
    <add key="bdUserWrite" value="webTrobadoo"/>
    <add key="bdPasswordWrite" value="w3bTr0b@doo"/-->

    <!--Gestor JS/CSS-->
    <add key="comprimirCSS" value="False"/>
    <add key="comprimirJS" value="False"/>
    <add key="pathAplicacion" value="D:\git\trobadoo\webTrobadooMVC\"/>
    <add key="pathContenidos" value="D:\git\trobadoo\webTrobadooMVC\"/>
    <add key="pathMailLogFile" value="D:\git\trobadoo\webTrobadooMVC\logs\mails.log"/>
    <add key="pathErrorLogFile" value="D:\git\trobadoo\webTrobadooMVC\logs\errors.log"/>
    <add key="pathDebugLogFile" value="D:\git\trobadoo\webTrobadooMVC\logs\debug.log"/>
    <add key="uploadImagesPath" value="D:\git\trobadoo\webTrobadooMVC\uploadImages"/>
    <add key="xmlPath" value="D:\git\trobadoo\webTrobadooMVC\products\"/>

      <!-- REFRESH HASTABLES-->
    <add key="refreshIdiomas" value="NO"/>
    <add key="refreshPestanyas" value="NO"/>
    <add key="refreshCategorias" value="NO"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>
  </system.webServer>
</configuration>