<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="mode" value="Dev"/>
    <add key="mailServer" value="smtpout.europe.secureserver.net"/>
    <add key="mailServerPort" value="25"/>
    <add key="googleAnalytics" value="UA-36071880-1"/>

    <add key="mailInfoUser" value="info@trobadoo.com"/>
    <add key="mailInfoPassword" value="tr0b@doo"/>
    <add key="mailInfo" value="info@trobadoo.com"/>
    <add key="mailNoReplyUser" value="noreply@trobadoo.com"/>
    <add key="mailNoReplyPassword" value="n0r3ply"/>
    <add key="mailNoreply" value="noreply@trobadoo.com"/>
    <add key="mailSoporte" value="soporte@trobadoo.com"/>
    <add key="to" value="david.artieri@gmail.com"/>
    <add key="mailErrores" value="david.artieri@gmail.com"/>

    <!-- LECTURA-->
    <add key="bdServerReadWeb" value="taka"/>
    <add key="bdDatabaseReadWeb" value="webtrobadoo"/>
    <add key="bdUserReadWeb" value="userRead"/>
    <add key="bdPasswordReadWeb" value="trobadoo"/>

    <add key="bdServerReadTrobadoo" value="taka"/>
    <add key="bdDatabaseReadTrobadoo" value="trobadoo"/>
    <add key="bdUserReadTrobadoo" value="sa"/>
    <add key="bdPasswordReadTrobadoo" value="as"/>
    
    <!-- ESCRITURA-->
    <add key="bdServerWriteWeb" value="taka"/>
    <add key="bdDatabaseWriteWeb" value="webtrobadoo"/>
    <add key="bdUserWriteWeb" value="userWrite"/>
    <add key="bdPasswordWriteWeb" value="trobadoo"/>

    <!-- LECTURA -->
    <!--add key="bdServerRead" value="webTrobadoo.db.10024928.hostedresource.com"/>
    <add key="bdDatabaseRead" value="webtrobadoo"/>
    <add key="bdUserRead" value="webTrobadoo"/>
    <add key="bdPasswordRead" value="w3bTr0b@doo"/-->
    <!-- ESCRITURA -->
    <!--add key="bdServerWrite" value="webTrobadoo.db.10024928.hostedresource.com"/>
    <add key="bdDatabaseWrite" value="webtrobadoo"/>
    <add key="bdUserWrite" value="webTrobadoo"/>
    <add key="bdPasswordWrite" value="w3bTr0b@doo"/-->

    <!--Gestor JS/CSS-->
    <add key="xmlPath" value="D:\git\trobadoo\webTrobadooMVC\products\"/>
    <add key="ftpUrl" value="ftp://www.trobadoo.com"/>
    <add key="ftpProductsPath" value="/products/"/>
    <add key="ftpImagesPath" value="/products/images"/>
    <add key="ftpUser" value="uploadprocess"/>
    <add key="ftpPassword" value="Uplo@dpr0c3ss"/>
    <add key="imagesPath" value="D:\git\trobadoo\webTrobadooMVC\Content\images\slider"/>
  </appSettings>
  <system.diagnostics>
    <trace>
      <listeners>
        <clear/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>