@model trobadoo.com.web.Models.Common.FooterModel
<footer>
		<div class="container clearfix">
			<div class="pieContacto text-center mv-20">
				<a href="mailto:info@trobadoo.com" class="hi-icon-effect-5 mh-10">
					<span class="hi-icon hi-icon-mail"></span>
				</a>
				<a href="http://www.facebook.com/trobadoo" target="_blank" class="hi-icon-effect-5 mh-10">
					<span class="hi-icon hi-icon-facebook facebook"></span>
				</a>
			</div>
		</div>
	</footer>