@model trobadoo.com.web.Models.Common.HeaderModel
<!-- header-section-starts -->
<div class="header">
    <div class="wrap">
        <div class="header-bottom">
            <div class="logo">
                <a href="/">
                    <img src="/Content/images/logo.jpg" class="img-responsive" alt="" /></a>
            </div>
            <div class="search">
                <div class="search2">
                    <form>
                    <input type="submit" value="">
                    <input type="text" value="Search for a product, category or brand" onfocus="this.value = '';"
                        onblur="if (this.value == '') {this.value = 'Search for a product, category or brand';}" />
                    </form>
                </div>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
    @*
    <li data-lang="es" class="@Model.LanguageIconClass("es")"><a href="?lang=es" class="btnIdioma">
        <img src="/Content/images/flag_es.png" alt="Castellano" /><span>Castellano</span></a>
    </li>
    <li data-lang="en" class="@Model.LanguageIconClass("en")"><a href="?lang=en" class="btnIdioma">
        <img src="/Content/images/flag_uk.png" alt="English" /><span>English</span></a>
    </li>
    <li><a href="?lang=de" class="btnIdioma">
                    <img src="/Content/images/flag_de.png" alt="Deutch" /><span>Deutch</span></a> </li>
    *@
</div>
<!-- header-section-ends -->
