<div id="cabeceraMobile" class="visible-xs">
</div>
<div class="container hidden">
    <div class="visible-lg txtGrande">
        RESOLUCIÓN LG</div>
    <div class="visible-md txtGrande">
        RESOLUCIÓN MD</div>
    <div class="visible-sm txtGrande">
        RESOLUCIÓN SM</div>
    <div class="visible-xs txtGrande">
        RESOLUCIÓN XS</div>
    <div class="hidden-xs visible-xxs txtGrande">
        RESOLUCIÓN XXS</div>
</div>